.newMovies {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-around; */

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 50px;
  grid-gap: 50px;
}

.newMovies .media {
  margin: 0 auto;
  background: #000046;
  background: -webkit-linear-gradient(to bottom, #1cb5e0, #000046);
  background: linear-gradient(to bottom, #1cb5e0, #000046);
}

.newMovies .media:hover {
  color: black;
  background: #ffefba;
  background: -webkit-linear-gradient(to bottom right, #ffffff, #ffefba);
  background: linear-gradient(to bottom right, #ffffff, #ffefba);
}

/* Media Queries */
@media (max-width: 1150px) {
  .newMovies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 50px;
    grid-gap: 50px;
  }
  .newMovies .media {
    width: 300px;
  }
  .newMovies .media .poster {
    width: 290px;
  }
}

@media (max-width: 1000px) {
  .newMovies {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 50px;
    grid-gap: 50px;
  }
  .newMovies .media {
    width: 400px;
  }
  .newMovies .media .poster {
    width: 390px;
  }
}

@media (max-width: 860px) {
  .newMovies {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    gap: 50px;
    grid-gap: 50px;
  }
  .newMovies .media {
    width: 500px;
  }
  .newMovies .media .poster {
    width: 490px;
  }
}

@media (max-width: 500px) {
  .newMovies .media {
    width: 390px;
  }
  .newMovies .media .poster {
    width: 380px;
  }
}

@media (max-width: 400px) {
  .newMovies .media {
    width: 300px;
  }
  .newMovies .media .poster {
    width: 290px;
  }
}
